
:root {
    --main-bg-color: #fffefc;
    --red-color: red;
    --gray-color: gray;
    --green-color: green;
    --light-gray-color: rgba(55, 53, 47, 0.65);
    --dark-gray-color: rgba(15, 15, 15, 0.15);
    --border-radius: 4px;
    --light-border: 1px solid var(--light-gray-color);
}

body {
    background-color: var(--main-bg-color);
}

#chat-container {
    overflow: auto;
    margin-top: 10px;
    /* width: 70vw; */
    padding-bottom: 50px;
}

.header {
    grid-area: header;
}

.header h2::after, .header h1::after {
    content: "";
    background-color: var(--red-color);
    vertical-align: bottom;
    display: inline-block;
}

.header h2::after {
    width: 5px;
    height: 5px;
}

.header h1 {
    font-size: 20vw;
    margin-top: 0px;
}

.header h1::after {
    width: 2vw;
    height: 2vw;
}

.menu {
    grid-area: menu;
    margin-right: 30px;
}

.menur {
    grid-area: menur;
}

.menu ul {
    list-style: square;
    line-height: 20px;
    padding-inline-start: 20px;
    max-width: 90%;
}

.icon-file, .icon-upload, .icon-process {
    width: 20px;
    position: relative;
}

.icon-file {
    top: 2px;
    height: 18px;
}

.icon-upload {
    margin: 0px 50px;
    cursor: pointer;
}

.icon-process {
    cursor: pointer;
}

input[type=file] {
    display: none;
}

.main {
    grid-area: main;
    height: 80vh;
}

.question-input {
    padding: 16px;
    font-size: 18px;
    /* min-width: 50vw; */
    width: 80%;
    position: sticky;
    top: 30px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid lightgray;
}

.question-spinner, .question-spinner-message {
    position: relative;
}

.question-spinner {
    margin-left: 20px;
    width: 40px;
}

.question-spinner-message {
    font-size: 24px;
    margin-right: 30px;
}

.footer {
    grid-area: footer;
    position: fixed;
    bottom: 10px;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main menur'
        'footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1.3fr .7fr 1fr 1fr 1fr 1fr;
}

.top-nav {
    list-style: none;
    display: inline-flex;
    float: right;
    margin: 30px;
}

.top-nav li {
    margin: 0px 10px;
}

.top-nav a, .link {
    text-decoration: none;
    color: var(--light-gray-color);
    cursor: pointer;
}

.top-nav li:first-child::after {
    content: "";
    width: 1px;
    background: var(--gray-color);
    height: 20px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.top-message {
    font-size: 8vw;
    color: var(--gray-color);
}

.login-container, .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login-container {
    width: 30vw;
    height: 30vh;
    border: 1px solid var(--dark-gray-color);
}

.auth-btn {
    margin: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 36px;
    border-radius: var(--border-radius);
    background: white;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    border: var(--light-border);
    width: 100%;
    box-shadow: var(--dark-gray-color) 0px 1px 2px;
}

.auth-container {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
    color: var(--gray-color);
}

.ask-btn {
    font-size: 30px;
    color: var(--gray-color);
    position: relative;
    left: -53px;
    top: -15px;
    border: none;
    background-color: transparent;
}

.ask-btn:hover {
    color: var(--green-color);
    cursor: pointer;
}

.delete-button {
    cursor: pointer;
    color:red;
}
