<!DOCTYPE html>
<html>
  <head>
    <title>Clark</title>
    <link rel="stylesheet" href="{{url_for('static', path='main.css')}}">
  </head>
  <body>
    <div class="container">
      <div class="header"><h2>Clark</h2></div>
      <div class="menu">
        <h4>
          <span class="icon-file">
            <svg width="16px" height="16px" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 6 2 C 4.9057453 2 4 2.9057453 4 4 L 4 20 C 4 21.094255 4.9057453 22 6 22 L 18 22 C 19.094255 22 20 21.094255 20 20 L 20 8 L 14 2 L 6 2 z M 6 4 L 13 4 L 13 9 L 18 9 L 18 20 L 6 20 L 6 4 z"/></svg>
          </span>
          Files
        </h4>
        <ul id="filesContainer"></ul>
      </div>
      <div class="main">
        <div>
        <input class="question-input" placeholder="Ask your query" name="question">
        <span class="question-spinner-message">Processing data. Please wait...</span>
        <img class="question-spinner" src="{{url_for('static', path='spinner.gif')}}">
        <div id="chat-container"></div>
      </div>
      
      </div>
      <div class="footer">© 2023 Muktadiur Rahman.</div>
    </div>
    <script src="{{url_for('static', path='main.js')}}"></script>
  </body>
</html>



